@media only screen and (max-width: 1300px) {

	.flex-banner {
		flex-direction: column-reverse;
		text-align: center;
	}

	.banner .banner-txt h1 {
		font-size: 3rem;
	}

	.banner .banner-txt h3 {
		font-size: 1rem;
	}

	.stat-banner {
		padding: 0 4em 4em;
	}

	.search-banner {
		width: 80%;
		transform: translate(10%, -50%);
		position: relative;
	}

	.search-banner input {
		max-width: 30em;
	}

	.stat-banner .brand-box {
		margin-top: 7em;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.stat-banner .second {
		margin-top: 5em;
	}

	.stat-banner .third {
		margin-top: 5em;
	}

	.stat-banner .brand-box .blue-line {
		height: 700px;
		width: 10px;
		/* margin: 2em 10em 0 0; */
	}

	.stat-banner .stat-box .box-logo {
		left: 35%;
	}
}


@media only screen and (max-width: 900px) {
	html {
		font-size: 14px;
	}

	.stat-banner .brand-box .blue-line {
		height: 500px;
		width: 10px;
	}
}

@media only screen and (max-width: 820px) {
	body {
		overflow-x: hidden;
	}

	.logo-img {
		display: block;
		position: absolute;
		top: 3%;
		left: 5%;
	}

	header nav {
		flex-direction: column;
		background-color: hsl(257, 27%, 26%);
		border-radius: 20px;
		padding: 1em 0;
		position: absolute;
		width: 80%;
		top: 20%;
		transform: translate(0, -300%);
		transition: .5s;
		z-index: 1;
	}

	header .fa-bars {

		display: block;
		position: absolute;
		top: 3%;
		right: 5%;
	}

	header nav .logo-list img {
		display: none;
	}

	header nav .split-line {
		height: 1px;
		width: 80%;
		background-color: white;
		margin: 10px 0;
	}

	header nav ul {
		flex-direction: column;
		color: white;
	}

	nav ul li {
		margin: 1.4em 0;
	}

	nav ul li a {
		font-size: 1.4em;
		color: white;
	}

	header nav .login ul .login-btn {
		color: white;
		font-size: 1.4em;
		padding: 0px 20px;
	}

	header nav .login .signup-btn {
		color: white;
		font-size: 1.4em;
		/* width: 60vw; */
	}

	.banner {
		padding: 0 0 5em 0;
	}

	.search-banner {
		width: 100%;
		transform: translate(0%, -50%);
		height: 18em;
		padding: 4em 0 0 0;
	}

	.search-flex {
		flex-direction: column;
	}

	.search-banner input {
		max-width: 40em;
	}

	.search-banner #add-link {
		margin: 0em 30em 0 0;
	}


	.search-banner button {
		margin: 1em 0 0 0;
		padding: 9px 10.5em;
		/* max-width: 60em; */
	}

	.stat-banner .brand-box .blue-line {
		height: 500px;
		width: 10px;
		margin: -102em 0em 0 14.em;
	}

	.footer {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	footer .col {
		margin: 20px 0;
	}

	footer .col h5 {
		font-size: 1.2rem;
	}

	footer .col ul li a {
		font-size: 1rem;
	}

	.banner .banner-img {
		/* position: relative; */
		flex: 1;
	}

	.banner .banner-img img {
		max-width: 100%;
		margin-left: 7em;
		position: static;
		z-index: -10;
	}
}

@media only screen and (max-width: 768px) {
	.stat-banner .brand-box .blue-line {
		height: 500px;
		width: 10px;
		margin: -102em 0em 0 14.em;
	}

}

@media only screen and (max-width: 580px) {
	header .fa-bars {
		font-size: 30px;
	}

	header nav {
		left: 10%;
	}

	.banner .banner-img img {
		max-width: 135%;
		margin-left: 1.2em;
	}

	.search-banner {
		width: 100%;
		position: relative;
		height: 15em;
		padding: 2em 0 0 0;
	}

	.search-banner input {
		max-width: 20em;
	}

	.search-banner #add-link {
		margin: 0em 10em 0 0;
	}

	.search-banner button {
		padding: 9px 4em;
	}

	.stat-banner {
		padding: 0 1em 4em;
	}

	.stat-banner .shorten-link {
		flex-direction: column;
		justify-content: space-evenly;
		align-items: flex-start;
		height: 10em;
		border-radius: 5px;
	}

	.stat-banner .shorten-link .copy-menu {
		flex-direction: column;
		align-items: flex-start;
	}

	.split-line {
		height: 1px;
		width: 100%;
		background-color: rgb(226, 226, 226);
		margin: 8px 0;
	}

	.stat-banner .copy-menu .copy-btn {
		width: 80vw;
		margin: 10px 0;
		border-radius: 5px;
		padding: 5px 28px;
		font-size: 1.2rem;

	}

	.stat-banner .brand-box .blue-line {
		height: 500px;
		width: 10px;
		margin: -102em 0em 0 14.em;
	}
}

@media only screen and (max-width: 375px) {
	.banner-boost h2 {
		font-size: 1.8rem;
	}

	.search-banner {
		padding: 3em 0 0 0;
	}

	.stat-banner .stat-txt h2 {
		font-size: 2rem;
	}

	.stat-banner .stat-txt h5 {
		margin-top: 1em;
		font-size: 1.3rem;
	}

	.stat-banner .brand-box .blue-line {
		height: 500px;
		width: 10px;
		margin: -102em 0em 0 14.em;
	}


}