@media only screen and (max-width: 1300px) {

    .flex-banner{
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner .banner-txt h1 {
        font-size: 3rem;
    }

    .banner .banner-txt h3{
        font-size: 1rem;
    }

    .stat-banner{
        padding: 0 4em 4em;
    }

    .search-banner{
        width: 80%;
        transform: translate(10%, -50%);
        position: relative;
    }

    .search-banner input{
        max-width: 30em;
    }
    .stat-banner .brand-box{
        margin-top: 7em;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .stat-banner .second{
        margin-top: 5em;
    }
    
    .stat-banner .third{
        margin-top: 5em;
    }

    .stat-banner .brand-box .blue-line{
        height: 700px;
        width: 10px;
        top: 200%;
        left: 20%;
        /* display: none; */
    }

    .stat-banner .stat-box .box-logo{
        left: 35%;
    }
}


@media only screen and (max-width: 900px) {
    html{
        font-size: 14px;
    }

    .stat-banner .brand-box .blue-line{
        height: 500px;
        width: 10px;
        top: 190%;
        left: 20%;
    }
}

@media only screen and (max-width: 820px){
    body{
        overflow-x: hidden;
    }

    .logo-img{
        display: block;
        position: absolute;
        top: 3%;
        left: 5%;
    }

    header nav {
        flex-direction: column;
        background-color: hsl(257, 27%, 26%);
        border-radius: 20px;
        padding: 1em 0;
        position: absolute;
        width: 80%;
        top: 20%;
        transform: translate(0, -300%);
        transition: .5s;
        z-index: 1;
    }

    header .fa-bars{

        display: block;
        position: absolute;
        top: 3%;
        right: 5%;
    }

    header nav .logo-list img{
        display: none;
    }

    header nav .split-line{
        height: 1px;
        width: 80%;
        background-color: white;
        margin: 10px 0;
    }

    header nav ul{
        flex-direction: column;
        color: white;
    }

    nav ul li {
        margin:  1.4em 0;
    }

    nav ul li a{
        font-size: 1.4em;
        color: white;
    }

    header nav .login ul .login-btn{
        color: white;
        font-size: 1.4em;
        padding: 0px 20px;
    }

    header nav .login .signup-btn{
        color: white;
        font-size: 1.4em;
        /* width: 60vw; */
    }

    .banner{
        padding: 0 0 5em 0;
    }

    .search-banner{
        flex-direction: column;
        width: 100%;
        transform: translate(0%, -50%);
    }

    .search-banner input {
        max-width: 40em;
    }



    .search-banner button{
        margin:1em 0 0 0;
        padding: 9px 10.5em;
        /* max-width: 60em; */
    }

    .stat-banner .brand-box .blue-line{
        height: 700px;
        width: 10px;
        top: 100%;
        left: 14%;
        /* margin: 0 auto; */
    }

    .footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer .col {
        margin: 20px 0;
    }

    footer .col h5{
        font-size: 1.2rem;
    }

    footer .col ul li a{
        font-size: 1rem;
    }

    .banner .banner-img{
        /* position: relative; */
        flex: 1;
      }
      .banner .banner-img img{
        max-width: 100%;
        margin-left: 7em;
        position:static;
        z-index: -10;
      }
}
@media only screen and (max-width: 768px){
    .stat-banner .brand-box .blue-line{
        height: 700px;
        width: 10px;
        top: 120%;
        left: 12%;
        display: none;
    }
    
}

@media only screen and (max-width: 580px){
    header .fa-bars{
        font-size: 30px;
    }

    header nav {
        left: 10%;
    }
    .search-banner{
        width: 100%;
        position: relative;
        height: 12em;
    }

    .search-banner #add-link{
        left: 2%;
        bottom: -20%;
    }
    .search-banner input{
        max-width: 20em;
    }
    .search-banner button{
        padding: 9px 4em;
    }

    .stat-banner {
        padding: 0 1em 4em;
    }

    .stat-banner .shorten-link{
        flex-direction: column;
        justify-content: space-evenly;
        align-items:flex-start;
        height: 10em;
        border-radius: 5px;
    }
    .stat-banner .shorten-link .copy-menu{
        flex-direction: column;
        align-items: flex-start;
    }

    .split-line{
        height: 1px;
        width: 100%;
        background-color: rgb(226, 226, 226);
        margin: 8px 0;
    }
    .stat-banner  .copy-menu .copy-btn{
        width: 80vw;
        margin: 10px 0;
        border-radius: 5px;
        padding: 5px 28px;
        font-size: 1.2rem;

    }
    /* .stat-banner .brand-box .blue-line{
        height: 600px;
        width: 10px;
        top: 220%;
        left: -28%;
    } */
}

@media only screen and (max-width: 370px){
    .banner-boost h2{
        font-size: 1.8rem;
    }

    .stat-banner .stat-txt h2 {
        font-size: 2rem;
      }
      
      .stat-banner .stat-txt h5 {
        font-size: 1rem;
      }
      
      
}